body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.jumbotron {
  width: 100vw;
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  align-items: center;
}

label {
  text-align: right;
  padding: 10px;
}

input {
  padding-right: 7px;
}

#search-btn {
  border: 1px solid lightgrey;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

ul {
  margin: 10px;
}

ul {
  margin-bottom: 10px;
}
